.btEntrar{	
	-fx-background-color: green;
	-fx-text-fill: white;
	-fx-border-color:  black;
}

.btSair{
	-fx-background-color: red;
	-fx-text-fill: white;
	-fx-border-color:  black;
}

.btSair:hover {
	-fx-background-color: #EE6363;
	-fx-text-fill: white;
	-fx-border-color:  black;
}

.btEntrar:hover {
	-fx-background-color: #00ff40;
	-fx-text-fill: white;
	-fx-border-color:  black;
}